# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
ENV/
venv/

# Logs
*.log

# Audio outputs
*.mp3
*.wav

# System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Gradio session files
gradio_cached_examples/
